---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astroid Servers</title>
  </head>
  <body>
    <h1>Why Us?</h1>
    <p>
      We beleve servers should be quick and easy to setup!<br />
      So now we are here! Its as simple as joining the discord and buying a server
      with the software you want!<br />
    </p>
  </body>
</html>
